---
import Icon from "@shared/ui/icon/ui/icon.astro";
---

<ul class="social-links">
	<li class="social-links__link">
		<a href="#">
			<span class="visually-hidden">Butterfly company logotype</span>
			<Icon iconType="butterfly" />
		</a>
	</li>
	<li class="social-links__link">
		<a href="#">
			<span class="visually-hidden">LinkedIn company logotype</span>
			<Icon iconType="linkedin" />
		</a>
	</li>
</ul>

<style lang="less">
	.social-links {
		display: flex;
		flex-direction: row;
		column-gap: 24rem;
		align-items: center;
	}

	.social-links__link {
		position: relative;
	}
</style>