---
import { Image } from "astro:assets"

import benefitsImage from "@public/images/raster/benefits.jpg";

import Icon from "@shared/ui/icon/ui/icon.astro";
---

<section class="benefits-section">
	<div class="benefits-section__image-wrapper">
		<Image class="benefits-section__image" src={benefitsImage} alt="Person group reading books" />
	</div>
	<div class="benefits-section__content">
		<h2 class="benefits-section__title">Read together, grow together</h2>
		<ul class="benefits-section__benefits-list benefits-list">
			<li class="benefits-list__item">
				<div class="benefits-list__item-icon-wrapper">
					<Icon iconType="checkmark" width={15} height={15} />
				</div>
				<p class="benefits-list__item-text">Monthly curated tech reads selected by industry experts</p>
			</li>
			<li class="benefits-list__item">
				<div class="benefits-list__item-icon-wrapper">
					<Icon iconType="checkmark" width={15} height={15} />
				</div>
				<p class="benefits-list__item-text">Virtual and in-person meetups for deep-dive discussions</p>
			</li>
			<li class="benefits-list__item">
				<div class="benefits-list__item-icon-wrapper">
					<Icon iconType="checkmark" width={15} height={15} />
				</div>
				<p class="benefits-list__item-text">Early access to new tech book releases</p>
			</li>
			<li class="benefits-list__item">
				<div class="benefits-list__item-icon-wrapper">
					<Icon iconType="checkmark" width={15} height={15} />
				</div>
				<p class="benefits-list__item-text">Author Q&A sessions with tech thought leaders</p>
			</li>
		</ul>
	</div>
</section>

<style lang="less">
	.benefits-section {
		display: flex;
		flex-direction: column-reverse;
		row-gap: 40rem;
		position: relative;
		margin: 64rem 16rem;

		@media (width >= 768px) {
			margin: 80rem 32rem;
		}

		@media (width >= 1440px) {
			margin: 120rem 135rem;
			flex-direction: row;
			align-items: center;
			row-gap: unset;
			column-gap: 80rem;
			justify-content: center;
		}
	}

	.benefits-section__image-wrapper {
		position: relative;
		flex: 0 0 auto;
		margin: 0 auto;

		@media(width >= 768px) {
			width: 100%;
		}

		@media (width >= 1440px) {
			width: unset;
			margin: unset;
		}
	}

	.benefits-section__image {
		border-radius: 7rem;
		width: 100%;
		height: 318rem;
		background: var(--colors-neutral-900);
		object-fit: cover;
		max-width: 343rem;

		@media (width >= 768px) {
			border-radius: 15rem;
			height: 653rem;
			max-width: unset;
		}

		@media (width >= 1440px) {
			border-radius: 12rem;
			max-width: 560rem;
			height: 520rem;
		}
	}

	.benefits-section__content {
		flex: 0 0 auto;

		@media (width >= 1440px) {
			flex: 0 0 530rem;
		}
	}

	.benefits-section__title {
		font-family: var(--font-family), sans-serif;
		font-weight: 600;
		font-size: 34rem;
		line-height: 130%;
		letter-spacing: -0.06em;
		color: var(--colors-neutral-900);
		margin-bottom: 24rem;

		@media (width >= 768px) {
			font-size: 50rem;
			letter-spacing: -0.04em;
			max-width: 75%;
			margin-bottom: 34rem;
		}

		@media (width >= 1440px) {
			max-width: unset;
		}
	}

	.benefits-section__benefits-list {
		position: relative;
	}

	.benefits-list {
		display: flex;
		flex-direction: column;
		row-gap: 16rem;

		@media (width >= 768px) {
			row-gap: 24rem;
		}

		@media (width >= 1440px) {
			max-width: 420rem;
		}
	}

	.benefits-list__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 14rem;
		flex: 0 0 auto;
	}

	.benefits-list__item-icon-wrapper {
		border: 2rem solid var(--colors-neutral-700);
		border-radius: 4rem;
		width: 28rem;
		height: 28rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
	}

	.benefits-list__item-text {
		font-family: var(--second-family), sans-serif;
		font-weight: 400;
		font-size: 20rem;
		line-height: 140%;
		letter-spacing: -0.03em;
		color: var(--colors-neutral-700);
	}
</style>