---
import { Image } from "astro:assets";

import TotalScore from "@widgets/total-score/ui/total-score.astro";

import Icon from "@shared/ui/icon/ui/icon.astro";

import heroImage from "@public/images/raster/hero.jpg"
---

<section class="hero-section">
	<div class="hero-section__content">
		<h1 class="hero-section__title">Join the ultimate tech book club</h1>
		<p class="hero-section__text">Turn your reading time into learning time with fellow tech enthusiasts. Get curated recommendations, join vibrant discussions, and level up your skills one chapter at a time.</p>
		<a href="#" id="" class="link">
			<span class="link__text">Review membership options</span>
			<Icon iconType="arrowDown" width={22} height={22} />
		</a>
		<TotalScore className="total-score__type--hero"/>
	</div>
	<div class="hero-section__image-wrapper">
		<Image class="hero-section__image" src={heroImage} alt="Bunch of persons reading books in library" />
	</div>
	<div class="hero-section__image-pattern"></div>
	<div class="hero-section__glow"></div>
</section>

<style lang="less">
	.hero-section {
		position: relative;
		z-index: 2;
		padding: 108rem 16rem 80rem 16rem;
		display: flex;
		flex-direction: column;
		row-gap: 64rem;
		background: var(--colors-neutral-50);
		margin-top: -108rem;
		overflow: hidden;

		@media (width >= 768px) {
			padding: 132rem 32rem 80rem 32rem;
			margin-top: -132rem;
		}

		@media (width >= 1440px) {
			padding: 148rem 135rem 80rem 135rem;
			margin-top: -148rem;
			flex-direction: row;
			align-items: center;
			row-gap: unset;
			column-gap: 64rem;
			justify-content: center;
		}
	}

	.hero-section__content {
		position: relative;
		flex: 0 0 auto;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (width >= 768px) {
			align-items: flex-start;
		}

		@media (width >= 1440px) {
			flex: 0 0 570rem;
		}
	}

	.hero-section__title {
		font-family: var(--font-family), sans-serif;
		font-weight: 700;
		font-size: 38rem;
		line-height: 120%;
		letter-spacing: -0.05em;
		background: linear-gradient(154deg, #fea36f 0%, #062630 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 24rem;

		@media (width >= 768px) {
			font-size: 62rem;
			letter-spacing: -0.03em;
		}
	}

	.hero-section__text {
		font-family: var(--second-family), sans-serif;
		font-weight: 400;
		font-size: 20rem;
		line-height: 140%;
		letter-spacing: -0.03em;
		color: var(--colors-neutral-700);
		margin-bottom: 32rem;
	}

	.link {
		position: relative;
		border: 2rem solid var(--colors-neutral-900);
		border-radius: 8rem;
		padding: 21.5rem 23rem 21.5rem 23rem;
		background: var(--colors-light-salmon-50);
		display: flex;
		flex-direction: row;
		column-gap: clamp(10rem, 2.8vw, 16rem);
		align-items: center;
		width: 100%;
		max-width: 343rem;
		max-height: 64rem;

		@media (width >= 768px) {
			max-width: 380rem;
			padding: 20.5rem 24rem 20.5rem 24rem;
			column-gap: 16rem;
		}
	}

	.link__text {
		font-family: var(--font-family), sans-serif;
		font-weight: 700;
		font-size: 16rem;
		line-height: 130%;
		letter-spacing: -0.06em;
		color: var(--colors-neutral-900);
		text-transform: uppercase;
		flex: 0 0 auto;

		@media (width >= 768px) {
			font-size: 18rem;
		}
	}

	.link__icon {
		width: 24rem;
		height: 25rem;
		flex: 0 0 auto;
	}

	.hero-section__image-wrapper {
		position: relative;
		flex: 0 0 auto;
		z-index: 2;

		@media (width >= 1440px) {
			flex: 0 0 auto;
			max-width: 536rem;
		}
	}

	.hero-section__image {
		display: block;
		width: 100%;
		height: 371rem;
		border-radius: 7rem;
		background: var(--colors-neutral-900);
		object-fit: cover;
		margin: 0 auto;

		@media (width >= 768px) {
			border-radius: 16rem;
			height: 798rem;
			margin: unset;
			width: 100%;
			max-width: unset;
		}

		@media (width >= 1440px) {
			width: 100%;
			height: 606rem;
			max-width: 536rem;
			border-radius: 12rem;
		}
	}

	.hero-section__image-pattern {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 820rem;
		background: url("/images/vector/background-pattern-light.svg") repeat;
		z-index: 1;

		@media (width >= 768px) {
			height: 1565rem;
		}

		@media (width >= 1440px) {
			height: 820rem;
		}
	}

	.hero-section__glow {
		position: absolute;
		top: 720rem;
		left: 555rem;
		width: 684rem;
		height: 684rem;
		border-radius: 100%;
		background-color: #9cc9da;
		filter: blur(200px);

		@media (width >= 768px) {
			top: 1181rem;
			left: 394rem;
		}

		@media (width >= 1440px) {
			top: 376rem;
			left: 1228rem;
		}
	}
</style>