---
import SocialLinks from "@shared/ui/social-links/ui/social-links.tsx";
---

<footer class="footer">
	<div class="footer__wrapper">
		<p class="footer__copyright">© 2024 – Tech Book Club</p>
		<SocialLinks client:only="react" />
	</div>
</footer>

<style lang="less">
	.footer {
		position: relative;
		padding: 0 16rem;
		background: var(--colors-neutral-900);
		align-items: center;

		@media (width >= 768px) {
			padding: 0 32rem;
			border-top: 1rem solid var(--colors-neutral-700);
		}

		@media (width >= 1440px) {
			border-top: unset;
			padding: 0 135rem;
		}
	}

	.footer__wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 16rem;
		align-items: center;
		padding: 24rem 0;
		border-top: 1rem solid var(--colors-neutral-700);

		@media (width >= 768px) {
			flex-direction: row;
			justify-content: space-between;
			border-top: unset;
		}

		@media (width >= 1440px) {
			border-top: 1rem solid var(--colors-neutral-700);
		}
	}

	.footer__copyright {
		font-family: var(--font-family), sans-serif;
		font-weight: 400;
		font-size: 14rem;
		line-height: 120%;
		letter-spacing: -0.07em;
		color: var(--colors-neutral-50);

		@media (width >= 768px) {
			color: var(--colors-neutral-0);
		}
	}
</style>