---
import TotalScore from "@widgets/total-score/ui/total-score.astro";

import Icon from "@shared/ui/icon/ui/icon.astro";
import Link from "@shared/ui/link/ui/link.tsx";
---

<section class="offer-section">
	<div class="offer-section__wrapper">
		<h2 class="offer-section__title">Ready to debug your reading list?</h2>
		<Link client:only="react" href="#membership" type="ghost">
			Review membership options
			<div slot="icon">
				<Icon iconType="arrowUp" width={22} height={22} />
			</div>
		</Link>
		<TotalScore className="total-score__type--footer"/>
	</div>
</section>

<style lang="less">
	.offer-section {
		position: relative;
		background: var(--colors-neutral-900);
		border-radius: 16rem 16rem 0 0;
		padding: 48rem 0 64rem 0;

		@media (width >= 768px) {
			padding: 64rem 0 64rem 0;
		}

		@media (width >= 1440px) {
			padding: 80rem 0 64rem 0;
		}
	}

	.offer-section__wrapper {
		margin: 0 16rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (width >= 768px) {
			margin: 0 32rem;
		}

		@media (width >= 1440px) {
			margin: 0 auto;
			max-width: 685rem;
		}
	}

	.offer-section__title {
		font-family: var(--font-family), sans-serif;
		font-weight: 600;
		font-size: 34rem;
		line-height: 130%;
		letter-spacing: -0.06em;
		text-align: center;
		color: var(--colors-neutral-50);
		margin-bottom: 40rem;

		@media (width >= 768px) {
			font-size: 50rem;
			letter-spacing: -0.04em;
		}
	}
</style>